<h2><%= t('views.common.title_index', name: Comment.model_name.human) %></h2>
  <%= "No comments" if @comments.blank? %>
  <% @comments.each do |comment| %>
  <div>
    <% if comment.user %>
    <p><%= comment.user.name.presence || comment.user.email %></p>
    <% else %>
    <p><%= User.human_attribute_name('unsubscribed_user') %></p>    
    <% end %>

    <%= l comment.created_at %><br>
    <%= comment.content %>
    <%= button_to t("#{Comment.human_attribute_name('destroy_comment')}"), comment, method: :delete, data: { turbo_confirm: "#{Comment.human_attribute_name('are_you_sure')}" } if comment.user.present? && comment.user[:id] == current_user[:id] %>
  </div>
  <hr>
  <% end %>

<% if @book.present? %>
<%= render partial: 'comments/form', locals: { commentable: @book } %>
<% elsif @report.present?  %>
<%= render partial: 'comments/form', locals: { commentable: @report } %>
<% end %>
