<%= render 'translate_button' %>

<h1><%= t("views.editing_book") %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t("views.show_this_book"), localed_book_path(I18n.locale, @book.id) %> |
  <%= link_to t("views.back_to_books"), localed_book_index_path %>
</nav>
