<%= render 'translate_button' %>
<p style="color: green"><%= notice %></p>
<div class="show-item">
  <%= render @book %>
</div>

<nav class="page-nav">
  <%= link_to t("activerecord.attributes.book.edit_this_book"), edit_localed_book_path(I18n.locale, @book.id) %> |
  <%= link_to t("activerecord.attributes.book.back_to_books"), localed_book_index_path(I18n.locale) %>

  <%= button_to t("activerecord.attributes.book.destroy_this_book"), @book, method: :delete %>
</nav>
