<p><%= t('mailer.reset_password.hello') %> <%= @resource.email %>!</p>

<p><%= t('mailer.reset_password.change_to_password') %> <%= t('mailer.reset_password.click_below_link') %></p>

<p><%= link_to t('mailer.reset_password.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('mailer.reset_password.ignore_this_email') %></p>
<p><%= t('mailer.reset_password.note_for_new_password') %></p>
