<div id="<%= dom_id report %>">
  <h2>
    <strong>Title:</strong>
    <%= report.title %>
  </h2>

  <p>Posted by：<%= report.user.name.presence || report.user.email %>（ID：<%= report.user_id %>）<br>
  <small>Posted on：<%= l report.created_at , format: :ja_short %></small></p>

  <p>
    <strong>Body:</strong>
    <%= report.body %>
  </p>

</div>
